.Page {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  width: 80%;
  text-align: center;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Nominations {
  margin-top: 50px;
  margin-bottom: 15px;
}

.Nominations h1 {
  font-size: 26px;
}

.Name {
  margin-bottom: -25px;
  font-size: 42px;
  font-weight: 500;
  text-transform: uppercase;
}

.Logo {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  margin-top: 25px;
  text-transform: uppercase;
  color: #4e7632;
  font-family: "Architects Daughter";
  font-size: 56px;
}

.Create {
  width: 325px;
  height: 50px;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid #4e7632;
  border-radius: 25px;
  color: #4e7632;
  background-color: rgb(235, 242, 232);
  transition: transform 0.25s;
  outline: none;
  margin-bottom: 25px;
}

.Create:hover {
  transform: scale(1.1);
  background-color: rgb(184, 211, 177);
}
