.Page {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  width: 80%;
  text-align: center;
  margin-top: 25px;
}

.Nominations {
  margin: 25px auto;
}

.Logo {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 25px;
  font-family: "Permanent Marker";
  text-transform: uppercase;
}
