.Nomination {
  width: 75%;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Remove {
  height: 40px;
  width: 200px;
  outline: none;
  border: 2px solid rgb(235, 242, 232);
  font-size: 15px;
  background-color: #4e7632;
  color: rgb(235, 242, 232);
}
