.NominationContainer {
  box-sizing: border-box;
  height: 100%;
  width: 60%;
  background-color: orange;
  text-align: center;
  margin: 0 auto;
  transition: transform 0.3s ease-out;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 200;
  padding-right: 30px;
}

.Count {
  margin-top: 25px;
  padding: 0;
}

.Nominations {
  display: flex;
  flex-direction: column;
}

.Open {
  transform: translateX((0));
}

.Close {
  transform: translateX(-90%);
}

.icon {
  position: absolute;
  top: 50%;
  right: 5px;
}

.Clear {
  border: 1px solid black;
  width: 50%;
  margin: 0 auto;
  margin-top: 25px;
  padding: 5px 0;
}

@media (max-width: 1000px) {
  .NominationContainer {
    width: 90%;
  }
}
