.NominationContainer {
  box-sizing: border-box;
  height: 100%;
  width: 40%;
  background-color: #4e7632;
  color: rgb(235, 242, 232);
  text-align: center;
  margin: 0 auto;
  transition: transform 0.3s ease-out;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 200;
  overflow-y: scroll;
  padding: 0 30px;
  margin-bottom: 25px;
  padding-bottom: 25px;
}

.Count {
  margin-top: 50px;
  padding: 0;
}

.Nominations {
  display: flex;
  flex-direction: column;
}

.Open {
  transform: translateX((0));
}

.Close {
  transform: translateX(-90%);
}

.icon {
  position: absolute;
  top: 50%;
  right: 5px;
}

.Clear {
  border: 1px solid white;
  width: 50%;
  margin: 0 auto;
  margin-top: 35px;
  padding: 22px 15px;
}

@media (max-width: 1000px) {
  .NominationContainer {
    width: 75%;
  }
}
