.Card {
  box-sizing: border-box;
  width: calc(100% / 3);
  text-align: center;
  padding-bottom: 25px;
  color: rgb(54, 58, 52);
  transition: transform 0.3s;
}

.Card:hover {
  transform: scale(1.05);
}

.Card img {
  width: 80%;
  height: 400px;
}

.Card h1 {
  font-size: 30px;
}

@media (max-width: 1000px) {
  .Card {
    width: calc(100% / 2);
  }
}

@media (max-width: 600px) {
  .Card {
    width: 90%;
  }
  .Card img {
    width: 90%;
  }
}
