.Card {
  box-sizing: border-box;
  width: calc(100% / 3);
  text-align: center;
  padding-bottom: 25px;
  color: rgb(54, 58, 52);
}

.Card img {
  width: 80%;
  height: 400px;
}

.Card h1 {
  font-size: 30px;
}

.Nominate {
  width: 120px;
  height: 50px;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid #4e7632;
  border-radius: 25px;
  color: #4e7632;
  background-color: rgb(235, 242, 232);
  transition: transform 0.3s;
  outline: none;
}

.Nominate:hover {
  transform: scale(1.1);
  background-color: rgb(184, 211, 177);
}

.Remove {
  width: 200px;
  height: 50px;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid #4e7632;
  border-radius: 25px;
  color: #4e7632;
  background-color: rgb(235, 242, 232);
  transition: transform 0.25s;
  outline: none;
}

.Remove:hover {
  transform: scale(1.1);
  background-color: rgb(184, 211, 177);
}

@media (max-width: 1000px) {
  .Card {
    width: calc(100% / 2);
  }
}

@media (max-width: 600px) {
  .Card {
    width: 90%;
  }
  .Card img {
    width: 90%;
  }
}
