.App {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

.Search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.Search input {
  width: 60%;
  text-align: center;
  height: 30px;
}

.searchIcon {
  position: absolute;
  left: 20.5%;
}

.Results {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
}

.Msg {
  text-align: center;
}

.Five {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Five input {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.Share {
  display: block;
  width: 104% !important;
  margin-bottom: 10px;
  text-align: center;
}

.Five h1 {
  text-align: center;
}
