@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Roboto&display=swap");

body {
  color: rgb(54, 58, 52);
  background-color: rgb(235, 242, 232);
  font-family: "Roboto";
}

.App {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

.Search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.Search input {
  width: 60%;
  text-align: center;
  height: 40px;
  font-size: 26px;
  color: rgb(54, 58, 52);
}

input:focus {
  border: 1px solid #4e7632;
  outline: 1px solid #4e7632;
}

.searchIcon {
  position: absolute;
  left: 20.5%;
}

.Results {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
}

.Msg {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.Five {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Five input {
  width: 250px;
  height: 25px;
  text-align: center;
  margin-bottom: 10px;
}

.Share {
  display: block;
  width: 104% !important;
  margin-bottom: 10px;
  text-align: center;
}

.Five h1 {
  text-align: center;
}

a {
  color: #4e7632;
  text-decoration: none;
}

.Logo {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 25px;
  font-size: 56px;
  text-transform: uppercase;
  color: #4e7632;
  text-decoration: none;
  font-family: "Architects Daughter";
}

.shareHold button {
  width: 200px;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid #4e7632;
  border-radius: 25px;
  color: #4e7632;
  background-color: rgb(235, 242, 232);
  transition: transform 0.25s;
  outline: none;
  margin-top: 10px;
  margin-bottom: 15px;
}

.shareHold button:hover {
  transform: scale(1.1);
  background-color: rgb(184, 211, 177);
}

.shareHold textarea {
  height: 0;
  position: absolute;
  z-index: -1;
  opacity: 0.01;
}
